* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  
}

body {
  background: white;
  color: #fff;
}


#header {
  width: 100%;
  height: 100vh;
  background-image: url("images/ets2_20240426_181310_00.png");
  background-size: cover;
}

.container {
  padding: 10px 10%;
}   

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  color: black;
}

.logo {
  width: 120px;
}
nav {
  top: 0;
  position: fixed;
  align-items: center;
  padding: 0 100px;
  z-index: 1;
}


nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 3px;
  background: purple;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.sidebar{
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  right: 0;
  height: 100v;
  width: 200px;
  z-index: 999;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0,0,0,0.27);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}

.header-text {
  font-size: 30px;
  margin-top: 200px;
}

.header-text h1 span {
  color: purple;
}

/*----about-----*/
#about {
  padding: 30px 0;
  background: purple;
  color: white;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 40%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 30px;
}

.about-col-2 {
  flex-basis: 40%;
}

.sub-title {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 50px;
}

/*services*/
#services {
  padding: 30px 0;
  background-color: white; /* Change background color to white */
  color: black; /* Change text color to black */
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 40px;
  justify-content: space-around;
  margin:50px 20px 0 20px;
}

.services-list div {
  background: rgb(207, 198, 198);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
  text-align: left; /* Align text to the right */
  border-radius: 20px;
}
.services-list div a {
  text-decoration: none;
  color: grey;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  text-align: right; /* Align links to the right */
}
.services-list div:hover {
  background: purple;
  transform: translateY(-10px);
  color: white;
}
.services-list div>p {
  margin-top: 10px;
  font-size: 18px;
}
.home_button {
  padding: 10px 20px;
  border-radius: 9999px;
  font-size: 1rem;
  outline: none;
  border: 2px solid white;
  cursor: pointer;
}
.home_button:hover {
  background-color: purple;
  color: white;
}
.about_button {
  padding: 10px 20px;
  border-radius: 9999px;
  font-size: 1rem;
  outline: none;
  border: 2px solid purple;
  cursor: pointer;
  background-color: purple;
  color: white;
}
.about_button:hover {
  background-color: white;
  color: purple;

}

.join_community {
  background-color: purple;
  color: white;
  height: 200px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

a {
  text-decoration: none;
  text-decoration-color: black;
}

.events_list {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: space-around;
  margin:50px 150px 0 150px;
}

.team_list {
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin:50px 150px 0 150px;
}

/* Slideshow Style */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 25px;
width: 25px;
margin: 0 2px;
background-color: #fff;
border-radius: 50%;
display: inline-block;
/* transition: background-color 0.6s ease; */
}

.active, .dot:hover {
background-color: purple;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

/* Team Member profile Card */

.card {
  width: 280px;
  height: 280px;
  background: white;
  border-radius: 32px;
  border: 1px white solid;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}

.card .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.card .mail svg {
  stroke: purple;
  stroke-width: 3px;
}

.card .mail svg:hover {
  stroke: rgb(168, 54, 168);
}

.card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid purple;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: purple;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.card .bottom .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.card .bottom .bottom-bottom .social-links-container {
  fill: rgb(216, 70, 216);
  transform: scale(1.2);
}
svg:hover{
  transform: scale(1.2);
}
.card .bottom .bottom-bottom .button {
  background: white;
  color: purple;
  border: white 1px solid;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card .bottom .bottom-bottom .button:hover {
  background: purple;
  color: white;
}
.card:hover {
  border-top-left-radius: 55px;
  border: 1px solid purple;
}

.card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid purple;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}

.social_hover:hover{
  transform: scale(1.2);
}

/* Slot Bookings */

table {
  color: black;
  text-align: center;
}

td {
  padding: 10px 100px;
}
th {
  padding: 10px 100px;
  background-color: purple;
  color: white;
}

tr{
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}

input {
  border-radius: 9999px;
  border: 1px solid gainsboro;
  font-size: 26px;
  width: 450px;
  padding: 10px 30px;
  outline: none;
}
input:focus {
  border: 2px solid purple;
}


select {
border-radius: 999px;
border: 1px solid gainsboro;
font-size: 26px;
width: 450px;
padding: 10px 30px;
outline: none;
}
select:focus {
border: 2px solid purple;
}

/*popup*/
.popup{
  width: 400px;
  background: purple;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: white;
  visibility: visible;
  transform: transform 0.4s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0 ;
  background: green;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}